@tailwind base;
@tailwind components;
@tailwind utilities;


.transition{
  height: 60vh;
  width: 100%;
  background-image: url("../public/Images/transaction.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 10s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  0%{
    background-image: url("../public/Images/tran\ 1.jpg");
  }
  20%{
    background-image: url("../public/Images/tran\ 2.jpg");
  }
  40%{
    background-image: url("../public/Images/tran\ 3.jpg");
  }
}
